* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{background: #262122;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.font-white{color: #ffffff;}
.text-align-center{text-align: center}
.clr{clear:both}

.section-1{
    width: 100%;
    background: url("../img/home-top-bg.jpg") no-repeat;
}
.header-home{

}
.logo-top{
    border-right: 2px solid #f5330e;
    margin: 10px 0;
}
.tgl-top{
    padding-top: 14px;

}
.tgl-top h3{
    color: #a71d2a;
}
.tgl-top p{
    color: #ffffff;
}
.btn-orange-1{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    border-radius: 20px;
    color: #ffffff;
    border: none;
    transition: background-image 0.5s linear;
    padding: 5px 20px;
}
.btn-orange-1:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #fe970e 0%, #fa6a0e 51%, #f63b0e 100%);
}


/* Main Menu / Navbar */

.navbar-light .navbar-toggler {
    color: #effe0e;
    border-color: #effe0e;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .0rem 16rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #f5340e;
    padding: 10px 30px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
}

.bg-light {
    background-color: #262122!important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #f8f9fa;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
/* End Main Menu / Navbar */

/* Dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #262122;
  min-width: 200px;
  
  z-index: 1;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* End Dropdown Menu*/

.countdown{

}
.countdown{


}
.countdown .quote{
    font-family: Exo-2-Light-Italic;
    color: #ffffff;
    font-size: 12pt;
    padding: 60px 0 30px;
    text-align: center;
}

.countdown .timer{
    text-align: center;
}
.countdown .timer ul{
    margin-bottom: 50px;
}
.countdown .timer ul li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.countdown .timer ul li span.timer-title {
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    font-family: Arial;
}
.countdown .timer ul li span {
    display: block;
    font-size: 3rem;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    font-family: Exo-2-Thin;
    width: 80px;
}

/*Official hotel*/
i.officehotel {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.7em 0.7em;
  background-color: green;
  font-size: 20px;

}

.off-hotel {
font-size: 15px;

}
.pricehotel{
    color: orange;
}
/*Official hotel*/


.section-2{
    min-height: 300px;
    color: #ffffff;
}
.section-2 .sec-left{
    width: 50%;
    background-image: url("../img/body-1-bg.jpg");
    height: 375px;
    float: left;
}
.section-2 .sec-left .sec-title{
    width: 100%;
    height: 40px;
    background-color: #f5340e;
    padding-top: 10px;
    color: #ffffff;

}
.section-2 .sec-right{
    width: 50%;
    background-image: url("../img/body-2-bg.png");
    height: 375px;
    float: right;

}
.section-2 .sec-right .sec-title{
    width: 100%;
    height: 40px;
    background-color: #ff9d0e;
    padding-top: 10px;
    color: #ffffff;

}

.section-3 {
    width: 100%;
    min-height: 300px;
    background-image: url("../img/body-3.png");
    color: #ffffff;
}

.section-7 {
    width: 100%;
    min-height: 300px;
    background-color: #262626;
    color: #ffffff;
}
.section-black {
    width: 100%;
    min-height: 150px;
    background-color: #1a1617;
    color: #ffffff;
}
.section-grey {
    width: 100%;
    min-height: 150px;
    background-color: #262223;
    color: #ffffff;
}

.AboutTheShow{
    width: 100%;
    min-height: 300px;
    background-color: #1a1617;
    color: #ffffff;
}

.section-3 .box-option{
    background-color: #1a1617;
    width: 100%;
    min-height: 200px;
    padding: 20px 0;
}
.section-3 .box-option .option-img{
    height: 180px;
}
.section-3 .box-option .box-title{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    padding: 10px 0;
}

.visa-information{
    width: 100%;
    min-height: 300px;
    background-color: #1a1617;
    color: #ffffff;
}
.visa-information .box-option{
    background-color: #1a1617;
    width: 100%;
    min-height: 200px;
    padding: 20px 0;
}
.visa-information .box-option .option-img{
    height: 180px;
}
.visa-information .box-option .box-title{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    padding: 10px 0;
}

.bs-example{
        margin: 20px;
    }
    .panel-title .glyphicon{
        font-size: 14px;
    }

.section-4{
    background-image: url("../img/body-4-bg.png");
    width: 100%;
    min-height: 300px;
}

.exibith-text{
    margin-top: 100px;
}
.exibith-img{

}

.section-footer-1{
    padding: 30px 0;
}
.section-footer-1 .logo-footer{
    border-right: 1px solid #ffffff;
}
ul.socmed{
    list-style-type: inherit;
}
ul.socmed li{
    display: inline;
}
ul.socmed li a{
    color: #ffffff !important;
    font-size: 20px;
    cursor: pointer;
}

.section-footer-1 .menu-bottom{
    border-right: 1px solid #ffffff;
    padding-left: 50px;
}
ul.menu-bottom-list{
    list-style-type: none;
    width: 50%;
    float: left;
}
ul.menu-bottom-list li{

}
ul.menu-bottom-list li a{
    color: #ffffff !important;
    font-size: 14px;
    cursor: pointer;
}

.contact-list{
    padding-left: 50px;
}
ul.listing-contact{
    list-style-type: none;
}
ul.listing-contact li{

}
ul.listing-contact li{
    color: #ffffff !important;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.section-footer-2{
    background-color: #000000;
    width: 100%;
    min-height: 200px;
}

.form-content
{
    padding: 5%;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
    background-color: #fff0;
    border-color: #f8c411; 
}
.btnSubmit
{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    transition: background-image 0.5s linear;
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;

}

.btnNext
{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    transition: background-image 0.5s linear;
    border:none;
    border-radius:1.5rem;
    /* padding: 1%; */
    /* width: 20%; */
    cursor: pointer;

}

.btnPrev
{
    background-image: linear-gradient(to right, #f3eeec 0%, #d1cecb 51%, #9c9a96 100%);
    color: #ffffff;
    transition: background-image 0.5s linear;
    border:none;
    border-radius:1.5rem;
    /* padding: 1%; */
    /* width: 20%; */
    cursor: pointer;

}

hr.new1 {
    border-top: 1px solid #ff8d00e0;
  }

  
li.fa-check{
    color: orange;
}

h2.font-c {
 font-family: arial;

}

hr.new3 {
  border-top: 3px solid orange;
  width: 110px;
  margin-top: 0px;
}
  
/* Accordion */

.bs-example{
        margin: 20px;
    }
.panel-group{
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-title .glyphicon{
        font-size: 14px;
    }
.panel-group .panel + .panel {

    margin-top: 5px;

}
.panel-group .panel-heading {

    border-bottom: 0;
        border-bottom-color: currentcolor;

}
.panel-heading {

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    color: inherit;
}
.panel-title .glyphicon {
    font-size: 14px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-plus::before {
    content: "\002b";
}
* {

    box-sizing: border-box;

}
/* End Accordion*/


/* Mobile View */
/*-- responsive-mediaqueries --*/
@media (max-width:768px){
.navbar {
    padding: 0 0 0 0;
}
.section-2 .sec-left .sec-title {
    height: 90px;
}
.section-2 .sec-right .sec-title {
    height: 90px;
}
.section-2 .sec-left {
    height: auto;
}
.section-2 .sec-right {
    height: auto;
}
}
@media (max-width:640px){
.navbar {
    padding: 0 0 0 0;
}
.section-2 .sec-left .sec-title {
    height: 90px;
}
.section-2 .sec-right .sec-title {
    height: 90px;
}
.section-2 .sec-left {
    height: auto;
}
.section-2 .sec-right {
    height: auto;
}
}
@media (max-width:480px){
.navbar {
    padding: 0 0 0 0;
}
.section-2 .sec-left .sec-title {
    height: 90px;
}
.section-2 .sec-right .sec-title {
    height: 90px;
}
.section-2 .sec-left {
    height: auto;
}
.section-2 .sec-right {
    height: auto;
}
}
@media (max-width:320px){
.navbar {
    padding: 0 0 0 0;
}
.section-2 .sec-left .sec-title {
    height: 90px;
}
.section-2 .sec-right .sec-title {
    height: 90px;
}
.section-2 .sec-left {
    height: auto;
}
.section-2 .sec-right {
    height: auto;
}
}

/* End Mobile View */


/* CSS Rizky */

.off-hotel2 {
color:   white;

}

/*Official hotel*/
i.officehotel {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.7em 0.7em;
  background-color: green;
  font-size: 20px;

}

.off-hotel {
font-size: 15px;

}

.off-hotel2 {
color:   white;

}



.pricehotel{
    color: orange;
}
/*Official hotel*/

hr.new1 {
    border-top: 1px solid #ff8d00e0;
  }

  hr.new2 {
  border-top: 3px solid orange;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}


hr.new3 {
  border-top: 3px solid orange;
  width: 110px;
  margin-top: 0px;
}

hr.new4 {
  border-top: 2px solid orange;
  width: 110px;
  margin-top: 0px;
}

hr.new5 {
  border-top: 2px solid #4d4d4d;
  margin-top: 30px;
}



/* End CSS Rizky*/