@font-face {font-family:"Exo-2-Light-Italic";src:url("font/Exo2-LightItalic.eot?") format("eot"),url("font/Exo2-LightItalic.woff") format("woff"),url("font/Exo2-LightItalic.ttf") format("truetype"),url("font/Exo2-LightItalic.svg#Exo2-LightItalic") format("svg");font-weight:normal;font-style:normal;}
@font-face {
    font-family: 'Exo-2-Thin';
    src: url('font/exo2-thin-webfont.woff2') format('woff2'),
    url('font/exo2-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}