* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{background: #262122;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.font-white{color: #ffffff;}
.text-align-center{text-align: center}
.clr{clear:both}

.section-1{
    width: 100%;
    background: url("../img/home-top-bg.jpg") no-repeat;
}
.header-home{

}
.logo-top{
    border-right: 2px solid #f5330e;
    margin: 10px 0;
}
.tgl-top{
    padding-top: 14px;

}
.tgl-top h3{
    color: #a71d2a;
}
.tgl-top p{
    color: #ffffff;
}
.btn-orange-1{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    border-radius: 20px;
    color: #ffffff;
    border: none;
    transition: background-image 0.5s linear;
    padding: 5px 20px;
}
.btn-orange-1:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #fe970e 0%, #fa6a0e 51%, #f63b0e 100%);
}
.nav-top{
    background-color: #262122;
    width: 100%;
    height: auto;
}
.nav-top ul.main-menu {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav-top ul.main-menu li{
    display:inline;
}
.nav-top ul.main-menu li a{
    display:inline-block;
    padding: 10px 30px;
    color: #302b2c;
}
.nav-top ul.main-menu li a:hover{
    display:inline-block;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
}

/* Active li*/

.nav-top ul.main-menu li a,
.nav-top ul.main-menu li a:focus{
    color: #fff;
    background-color: #337ab7;
}
.nav-pilis>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}

/* End Active li */
/* Dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #262122;
  min-width: 200px;
  
  z-index: 1;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu li:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}




/* End Dropdown Menu*/

.countdown{

}
.countdown{


}
.countdown .quote{
    font-family: Exo-2-Light-Italic;
    color: #ffffff;
    font-size: 12pt;
    padding: 60px 0 30px;
    text-align: center;
}

.countdown .timer{
    text-align: center;
}
.countdown .timer ul{
    margin-bottom: 50px;
}
.countdown .timer ul li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.countdown .timer ul li span.timer-title {
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    font-family: Arial;
}
.countdown .timer ul li span {
    display: block;
    font-size: 3rem;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    font-family: Exo-2-Thin;
    width: 80px;
}

.section-2{
    min-height: 300px;
    color: #ffffff;
}
.section-2 .sec-left{
    width: 50%;
    background-image: url("../img/body-1-bg.jpg");
    height: 375px;
    float: left;
}
.section-2 .sec-left .sec-title{
    width: 100%;
    height: 40px;
    background-color: #f5340e;
    padding-top: 10px;
    color: #ffffff;

}
.section-2 .sec-right{
    width: 50%;
    background-image: url("../img/body-2-bg.png");
    height: 375px;
    float: right;

}
.section-2 .sec-right .sec-title{
    width: 100%;
    height: 40px;
    background-color: #ff9d0e;
    padding-top: 10px;
    color: #ffffff;

}

.section-3 .pt30{
    width: 100%;
    min-height: 300px;
    background-image: url("../img/body-3.png");
    color: #ffffff;
}

.section-7 {
    width: 100%;
    min-height: 300px;
    background-color: #262626;
    color: #ffffff;
}

.sectionblack {
    width: 100%;
    min-height: 300px;
    background-color: #262626;
    color: #ffffff;
}

.AboutTheShow{
    width: 100%;
    min-height: 300px;
    background-color: #1a1617;
    color: #ffffff;
}

.section-3 .box-option{
    background-color: #1a1617;
    width: 100%;
    min-height: 200px;
    padding: 20px 0;
}
.section-3 .box-option .option-img{
    height: 180px;
}
.section-3 .box-option .box-title{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    padding: 10px 0;
}

.visa-information{
    width: 100%;
    min-height: 300px;
    background-color: #1a1617;
    color: #ffffff;
}
.visa-information .box-option{
    background-color: #1a1617;
    width: 100%;
    min-height: 200px;
    padding: 20px 0;
}
.visa-information .box-option .option-img{
    height: 180px;
}
.visa-information .box-option .box-title{
    background-image: linear-gradient(to right, #f63b0e 0%, #fa6a0e 51%, #fe970e 100%);
    color: #ffffff;
    border: none;
    font-size: 10pt;
    margin-bottom: 10px;
    padding: 10px 0;
}

.section-4{
    background-image: url("../img/body-4-bg.png");
    width: 100%;
    min-height: 300px;
}

.exibith-text{
    margin-top: 100px;
}
.exibith-img{

}

.section-footer-1{
    padding: 30px 0;
}
.section-footer-1 .logo-footer{
    border-right: 1px solid #ffffff;
}
ul.socmed{
    list-style-type: inherit;
}
ul.socmed li{
    display: inline;
}
ul.socmed li a{
    color: #ffffff !important;
    font-size: 20px;
    cursor: pointer;
}

.section-footer-1 .menu-bottom{
    border-right: 1px solid #ffffff;
    padding-left: 50px;
}
ul.menu-bottom-list{
    list-style-type: none;
    width: 50%;
    float: left;
}
ul.menu-bottom-list li{

}
ul.menu-bottom-list li a{
    color: #ffffff !important;
    font-size: 14px;
    cursor: pointer;
}

.contact-list{
    padding-left: 50px;
}
ul.listing-contact{
    list-style-type: none;
}
ul.listing-contact li{

}
ul.listing-contact li{
    color: #ffffff !important;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.section-footer-2{
    background-color: #000000;
    width: 100%;
    min-height: 200px;
}

.section-footer-3{
    color: #fff;
} 
.form-content
{
    padding: 5%;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
    background-color: #fff0;
    border-color: #f8c411; 
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #f8a411cc;
    color: #fff;
}

hr.new1 {
    border-top: 3px solid #ff8d00e0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
  }

  hr.new2 {
    border-top: 3px solid #ff8d00e0;
    width: 30%;
    margin-right: auto;
    
  }
  
/* Accordion */

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel-heading {
    border-bottom: 0;
        border-bottom-color: currentcolor;
}
.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
        margin-bottom: 0;
        border-radius: 4px;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: inherit;
    }
.glyphicon {
    position: relative;
    top: 1px;
    display: contents;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    .more-less {
        float: left;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }
/* End Accordion*/

hr.new1 {
    border-top: 3px solid #ff8d00e0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
  }

  hr.new2 {
    border-top: 3px solid #ff8d00e0;
    width: 30%;
    margin-right: auto;
    
  }
  
h3.text-align-center{
    float: right
}

